# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.WeatherApp.iml
# Datasource local storage ignored files
/../../../../../../../../:\Documents\GitHuub\mobileapps\WeatherApp\.idea\.idea.WeatherApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
