# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.CalculatorApp.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Development\mobileapps\CalculatorApp\CalculatorApp\.idea\.idea.CalculatorApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
