# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.StarwarsApp.iml
# Datasource local storage ignored files
/../../../../../../../../:\Documents\GitHuub\mobileapps\StarwarsApp\.idea\.idea.StarwarsApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
